@page
@namespace Blog.Services.Identity.API.Pages.Account
@model EmailConfirmationExpirationModel
@{
    ViewData["Title"] = "Email confirmation expiration";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your link has expired. Please <a asp-page="./ResendEmailConfirmation">click here to generate a new one</a>.
</p>
