@page
@namespace Blog.Services.Identity.API.Pages.Account
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If provided email address is valid, please check your inbox.
</p>
