@page
@namespace Blog.Services.Identity.API.Pages.Account
@model PasswordResetSendError
@{
    ViewData["Title"] = "Password reset send error";
}

<h1>@ViewData["Title"]</h1>
<p>
    There was an error sending your password reset email. Please <a asp-page="./ForgotPassword">click here to generate a new one</a>.
</p>
