@page
@namespace Blog.Services.Identity.API.Pages.Account
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If provided e-mail address exists, your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
