@page
@namespace Blog.Services.Identity.API.Pages.Account
@model ResetPasswordExpirationModel
@{
    ViewData["Title"] = "Reset password expiration";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password reset code has expired. Please <a asp-page="./ForgotPassword">click here to generate a new one</a>.
</p>
