@page
@namespace Blog.Services.Identity.API.Pages.Account
@model UnconfirmedPasswordModel
@{
    ViewData["Title"] = "Unconfirmed password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has not been confirmed. Please <a asp-page="./ForgotPassword">click here to generate a new one</a>.
</p>
