@page
@namespace Blog.Services.Identity.API.Pages.Account
@model UpdateUsernameModel
@{
    ViewData["Title"] = "Update username";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="update-username-form" method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-floating input-group">
                <input asp-for="Input.Username" class="form-control" disabled />
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.NewUsername" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.NewUsername" class="form-label"></label>
                <span asp-validation-for="Input.NewUsername" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update username</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
